[Desktop Entry]
Categories=AudioVideo;Music;
Name=PipeControl
Exec=${CMAKE_INSTALL_PREFIX}/bin/pipecontrol %u
Type=Application
Terminal=false
Icon=pipecontrol
